<h2>Basic Request</h2>
<button type="button" (click)="makeRequest()">Make Request</button>
<div *ngIf="data">
	<h3>REGISTRO</h3>
	<br>

<table>
  <tr>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Classe</th>
    <th>Voto / Intervento / Risposta<th>
  </tr>
<div *ngFor="let voto of data.recordset">
  <tr>
    <td>{{voto.Nome}}</td>
    <td>{{voto.Cognome}}</td>
    <td>{{voto.Anno}}°{{voto.Sezione}}</td>
    <td>{{voto.Voto}}</td>
  </tr>
</div>
</table>
	</div>


<!---
<div>
	<h6>{{voto.Nome}} {{voto.Cognome}} {{voto.Anno}}ª{{voto.Sezione}}</h6>
	<p *ngIf="voto.Tipo == 'V'" class="d-inline">VOTO:</p>
	<p *ngIf="voto.Tipo == 'I'" class="d-inline">INTERVENTO:</p>
	<p *ngIf="voto.Tipo == 'R'" class="d-inline">RISPOSTA:</p>
	<p class="d-inline"> {{voto.Voto}}</p>
	<br>
	<br>
    </div>
-->
