<h2>REGISTRO ELETTRONICO</h2>
<button type="button" (click)="makeRequest()">Make Request</button>
<div *ngIf="data">
	<h3>STUDENTI</h3>
	<br>

<table>
  <tr>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Classe</th>
    <th>Voto</th>
    <th>Tipo<th>
  </tr>
  <tr *ngFor="let voto of data.recordset">
    <td>{{voto.Nome}}</td>
    <td>{{voto.Cognome}}</td>
    <td>{{voto.Anno}}°{{voto.Sezione}}</td>
    <td>{{voto.Voto}}</td>
    <td *ngIf="voto.Tipo == 'I'">Intervento</td>
    <td *ngIf="voto.Tipo == 'V'">Voto</td>
    <td *ngIf="voto.Tipo == 'R'">Risposta</td>
  </tr>
</table>
</div>
